.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  box-sizing: border-box;
  height: calc(100vh - 40px);
  padding: 0 24px 16px;
  overflow: hidden;

  position: relative;

  .failureIcon {
    padding-top: 148px;
  }

  .title,
  .text {
    text-align: center;
  }
  .title {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #8E8E93;

    margin-bottom: 4px;
  }
  .text {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #1E1E1E;
  }

  .successCase,
  .failureCase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .successCase {
    position: absolute;
    top: 350px;
  }
  .failureCase {
    margin-top: 80px;
  }

  .successScoreStyles {
    background-color: #DCF5EB;
    color: #019156;
    border: 1px solid #019156;
  }
  .failureScoreStyles {
    background-color: #FCF5E8;
    color: #D68400;
    border: 1px solid #D68400;
  }

  .spacer {
    flex-grow: 1;
  }

  @media (min-width: 320px) and (max-width: 400px) {
    .title {
      font-size: 14px;
      line-height: 18px;
    }

    .text {
      font-size: 18px;
      line-height: 23px;
    }

    .successCase,
    .failureCase {
      gap: 30px;
    }
  }

  @media (max-width: 320px) {
    .title {
      font-size: 12px;
      line-height: 16px;
    }

    .text {
      font-size: 16px;
      line-height: 21px;
    }
    .successCase,
    .failureCase {
      gap: 20px;
    }
  }
}