.header-with-back-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
}

.header-with-back-button__back-button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.header-with-back-button__back-button:active {
  opacity: 0.5;
}

.header-with-back-button__dummy-button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.header-with-back-button__header {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}