.lesson-button {
  position: relative;
  background-color: white;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  box-sizing: border-box;
  border: 1px solid #01AB01;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.08);
}

.lesson-button:active {
  opacity: 0.5;
}

.lesson-button--finished {
  position: relative;
  background-color: #01AB01;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  box-sizing: border-box;
  border: 1px solid #01AB01;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.08);
}

.lesson-button--finished:active {
  opacity: 0.5;
}

.lesson-button__checkmark {
  pointer-events: none;
}