.answer-feedback {
  background-color: #DCF5EB;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #1E1E1E;
  position: fixed;
  bottom: 70px;
  left: 24px;
  right: 24px;
}

.answer-feedback--wrong {
  background-color: #FCE8EC;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #1E1E1E;
  position: fixed;
  bottom: 70px;
  left: 24px;
  right: 24px
}