.progress-bar__wrapper {
  background-color: rgba(30, 30, 30, 0.05);
  box-sizing: border-box;
  padding: 24px;
  padding-bottom: 0px;
}

.progress-bar {
  width: 100%;
  background-color: white;
  border-radius: 2px;
  height: 6px;
}

.progress-bar__bar {
  width: 0%;
  background-color: #019156;
  border-radius: 2px;
  height: 6px;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}